# Firebase Configuration
VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=your-auth-domain
VITE_FIREBASE_PROJECT_ID=your-project-id
VITE_FIREBASE_STORAGE_BUCKET=your-storage-bucket
VITE_FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
VITE_FIREBASE_APP_ID=your-app-id
VITE_FIREBASE_MEASUREMENT_ID=your-measurement-id
VITE_FIREBASE_DATABASE_URL=your-database-url

# API Configuration
VITE_API_URL=your_api_url_here

# Other Configuration
VITE_APP_NAME=CALUU
VITE_APP_DESCRIPTION="Your Academic Best Friend"

# Other Environment Variables
NODE_ENV=development 